/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2015, 6:10:55 PM
    Author     : duy
*/


.post-container {
    margin: 10px 10px 0 0;  
    border: 1px solid #333;
    width: 600px;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    width: 200px;
}

.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 150%;
    padding: 5px;
    background: #ccc
}

.post-thumb-avatar img {
    display: block;
    width: 50px;
    margin-left: 5px;
}

.post-content-user {
    margin-left: 70px;
    margin-top: -50px;

}

.file-chooser{
    position:relative;min-height:0px;padding-right:15px;padding-left:15px
}